<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/table.css">
<link rel="stylesheet" href="/css/main.css">


<div class="title_container">
    <div class="title">
        College Students List - <%= no_total %>
    </div>
</div>

<div class="table_container">
    <div class="search_bar">
        <input id="search" type="text" class="search"  placeholder="Search for name......">
    </div>
    <div class="table">
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Roll.No</th>
                <th>College</th>
                <th>Department</th>
                <th>Year</th>
                <th>Gender</th>
                <th>DOB</th>
                <th>Phone 1</th>
                <th>Phone 2</th>
                <th>Email</th>
                <th>Registered at</th>
              </tr>
            </thead>
            <tbody id="table">
              <% students.forEach(function(item, index) { %>
                  <tr>
                      <td><%= item.name %></td>
                      <td><%= item.rollno %></td>
                      <td><%= item.college %></td>
                      <td><%= item.department %></td>
                      <td><%= item.year %></td>
                      <td><%= item.gender %></td>
                      <td><%= item.dob %></td>
                      <td><%= item.phone1 %></td>
                      <td><%= item.phone2 %></td>
                      <td><%= item.email %></td>
                      <td><%= item.registered_date.toLocaleDateString() %></td>
                  </tr>
              <% }); %>
            </tbody>
          </table>
    </div>
</div>

<div style="display: flex; align-items: center; justify-content: center; gap: 6rem;">
    <div>
        <div class="title_container">
            <div class="sub_title">
                Gender Statistics
            </div>
        </div>
        
        <div class="table_container">
            <div class="table">
                <table>
                    <thead>
                      <tr>
                        <th>Male</th>
                        <th>Female</th>
                        <th>Special</th>
                      </tr>
                    </thead>
                    <tbody id="table">
                        <tr>
                            <td><%= no_male %></td>
                            <td><%= no_female %></td>
                            <td><%= no_special %></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    <div>
        <div class="title_container">
            <div class="sub_title">
                Year Statistics
            </div>
        </div>
        
        <div class="table_container">
            <div class="table">
                <table>
                    <thead>
                      <tr>
                        <th>1st Year</th>
                        <th>2nd Year</th>
                        <th>3rd Year</th>
                        <th>4th Year</th>
                      </tr>
                    </thead>
                    <tbody id="table">
                        <tr>
                            <td><%= no_first %></td>
                            <td><%= no_second %></td>
                            <td><%= no_third %></td>
                            <td><%= no_fourth %></td>
                        </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
</div>


<script>
    $("#search").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
    });
</script>